<form th:fragment="login" th:action="@{/login}" method="post" class="d-flex flex-column gap-4 px-0 px-md-3 py-3 w-75">

    <div class="">
        <h2 class="p-0 m-0 fw-bold">Welcome Back</h2>
        <p class="m-0 p-0 text-capitalize text-dark fs-18 fw-bold">Let's create your document</p>
    </div>

    <!-- Username Field -->
    <div class="d-flex align-items-center border-inputs px-3 py-2 fs-16 rounded-2">
        <input type="email"
            class="border-0 w-100 fs-16 bg-transparent text-dark fw-semibold border-0 outline-none"
            placeholder="abc@mail.com" name="username" required>
        <i class="fa-regular fa-envelope text-secondary fs-16"></i>
    </div>

    <!-- Password Field -->
    <div class="d-flex align-items-center border-inputs px-3 py-2 rounded-2 fs-16">
        <input type="password" class="border-0 bg-transparent text-dark w-100 fs-16 fw-semibold border-0 outline-none"
            placeholder="password" autocomplete="off" name="password" id="password" required>
        <i class="fas fa-eye-slash text-secondary transition05 fs-16"></i>
    </div>

    <!-- Login Action -->
    <div class="d-flex align-items-center justify-content-between">
        <a href="/forgetpassword" aria-disabled="true" class="fs-18 ">Forget password</a>
        <button class="btn text-white login-button fw-semibold px-5" type="submit">Submit</button>
    </div>

    <!-- Google Login -->
    <a href="/oauth2/authorization/google"
        class="w-100 google-button bg-white m-0 p-0 text-decoration-none d-flex align-items-center justify-content-center gap-2 text-black fw-semibold py-2 rounded-3">
        <img th:src="@{img/google-logo.webp}" class="w-100 h-100">
        Continue with google
    </a>

    <!-- Sign Up Link -->
    <a th:href="@{/signup}" id="signupButton" aria-label="login button"
        class="button-limly text-center text-decoration-none text-white py-2 rounded-3 fs-18 fw-semibold ">
        signup
    </a>

    <!-- <div id="signupButton" class="btn btn-primary">buttotn</div> -->

</form>