<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Quill JS -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-uploader@1.2.3/dist/quill.imageUploader.min.js"></script>


    <script src="https://kit.fontawesome.com/0a7c965840.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/editor.css">

    <link rel="stylesheet" th:href="@{/css/editor.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <title>LimlyDocx-Editor</title>
</head>

<body>

    <div class="message text-danger shadow-danger alert alert-danger " th:if="${error}">
        <p class="p-0 p-md-2 m-0  fw-semibold" th:text="${error}"></p>
    </div>


    <div class="spinner-parent z-2 position-absolute d-flex flex-column align-items-center gap-3 d-none">
        <!-- spinner icon -->
        <div class="spinner">
            <div class="spinner-icon border-top border-4 border-primary rounded-circle w-100  h-100"></div>
        </div>
        <!-- spinner text -->
        <p class="fw-bold fs-18">Generating your document </p>
    </div>


    <div class="container-fluid px-0 m-0 sticky-top">

        <div id="toolbar" class="bg-webdark text-white d-flex align-items-center justify-content-between px-4 py-2 ">

            <div class="quill">
                <!-- Font Family -->
                <select class="ql-font" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="select font">
                    <option class="d-flex" value="arial">Arial</option>
                    <option class="d-flex flex gap-0" value="times-new-roman">Times New Roman</option>
                    <option class="d-flex" value="courier-new">Courier New</option>
                </select>

                <!-- Font Size -->
                <select class="ql-size bg-webdark  text-white" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="font size">
                    <option value="8px" selected>8</option>
                    <option value="10px">10</option>
                    <option value="12px">12</option>
                    <option value="14px">14</option>
                    <option value="16px">16</option>
                    <option value="20px">20</option>
                    <option value="24px">24</option>
                    <option value="32px">32</option>
                    <option value="48px">48</option>
                </select>

                <span class="ql-formats" value="Font-Weight">
                    <button class="ql-bold">bold</button>
                    <button class="ql-italic">italic</button>
                    <button class="ql-underline">underline</button>
                    <button class="ql-strike">line-thorough</button>
                </span>

                <!-- Text Color and Background Color -->
                <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>

                <!-- Text Alignment -->
                <span class="ql-formats">
                    <!-- <button class="ql-align" value="left">left</button> -->
                    <button class="ql-align" value="center">center</button>
                    <button class="ql-align" value="right">right</button>
                    <button class="ql-align" value="justify">justify</button>
                </span>

                <!-- Lists -->
                <span class="ql-formats">
                    <button class="ql-list" value="ordered">ordered</button>
                    <button class="ql-list" value="bullet">bullet</button>
                    <button class="ql-indent" value="-1">forward</button>
                    <button class="ql-indent" value="+1">backward</button>
                </span>

                <!-- Script -->
                <span class="ql-formats">
                    <button class="ql-script" value="sub">subline</button>
                    <button class="ql-script" value="super">superline</button>
                </span>

                <!-- Other formatting -->
                <span class="ql-formats">
                    <button class="text-white  ql-link"></button>
                    <button class="ql-image"></button>
                    <button class="ql-code-block"></button>
                    <button class="ql-blockquote"></button>
                    <button class="ql-clean"></button>
                </span>
            </div>
   
  
         
            <div class="d-flex align-items-center gap-3">

                <div th:if="${btn}">
                    <a class="btn btn-primary text-white" 
                       th:href="${btn}" 
                       th:download="${#strings.substringAfterLast(btn, '/')}">Download document</a>
                </div>
                <form th:action="@{/savecontent}" method="post">
                    <input type="text" name="content" id="contentSender" hidden>
                    <button type="submit" id="getContent"
                        class="w-100 h-100 bg-success text-white px-3 py-2 fs-18 fw-bold rounded-pill">Get PDF
                    </button>
                </form>

            </div>


        </div>
    </div>

    <div class="container mt-4 d-flex gap-2 ">
        <div class="py-3">
            <button class="bg-transparent outline-none border-0 editor-lock-button"><i class="fas fa-unlock fs-6"></i></button>
        </div>
        <div id="editor" name="content" class="w-100" th:field="*{content}"></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script th:src="@{/js/editor.js}"></script>
    <script th:src="@{/js/editor-backend.js}"></script>
    <script th:src="@{/js/editor-TTS.js}"></script>


    <script src="../static/js/editor.js"></script>
    <script src="../static/js/editor-backend.js"></script>
    <script src="../static/js/editor-TTS.js"></script>



    <script th:inline="javascript">

        document.addEventListener("DOMContentLoaded",()=>{
            
        let isLock = false; // editor is unlocked initially
        let lockButton = document.querySelector(".editor-lock-button"); // Select the button

        lockButton.addEventListener("click", () => {
            isLock = !isLock; // Toggle lock state
            console.log(`is lock : ${isLock}`);

            // Update icon and Quill editor readOnly state
            lockButton.querySelector("i").classList.toggle("fa-lock", isLock);
            lockButton.querySelector("i").classList.toggle("fa-unlock", !isLock);

            // Update Quill editor readOnly state
            quill.enable(!isLock); // Enable or disable editor based on lock state
        });



        // Configure custom fonts
        const Font = Quill.import('formats/font');
        Font.whitelist = ['arial', 'times-new-roman', 'courier-new'];
        Quill.register(Font, true);

        // Configure custom sizes
        const Size = Quill.import('attributors/style/size');
        Size.whitelist = ['8px', '10px', '12px', '14px', '16px', '20px', '24px', '32px', '48px'];
        Quill.register(Size, true);

        // Initialize Quill editor
        const quill = new Quill('#editor', {
            readOnly: isLock,
            theme: 'snow',
            modules: {
                toolbar: {
                    container: '#toolbar',
                },
                imageResize: {},
            },
        });

        // Set default font size and family
        quill.format('size', '12px'); // initial font size
        quill.format('font', 'arial');




        // Initialize Bootstrap tooltips
        var tooltipElements = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        tooltipElements.forEach(function (element) {
            new bootstrap.Tooltip(element);
        });






        //======================= Getting Content =====================================

        const spinnerEl = document.querySelector(".spinner-parent");
        // trigger getEditorContent() function
        const button = document.getElementById("getContent");
        const contentSender = document.querySelector("#contentSender");



        /**
         * Function to get the content of the editor
         */
        const getEditorContent = () => {
            const editorContent = quill.root.innerHTML;
            contentSender.value = editorContent

            console.log(`Editor Content: ${editorContent}`);
            // console.log(`Content Length ${quill.getLength() - 1}`)

            spinnerEl.classList.replace("d-none", "d-block")
            // sendContentToSpringboot(editorContent);
        };

        // Attach the event listener to the button
        button.addEventListener("click", getEditorContent);


        var contentFromBackend = /*[[${content}]]*/ '';
        if (contentFromBackend) {
            quill.root.innerHTML = contentFromBackend;
        }

        })

    </script>
</body>

</html>