form{
    width: 75%;
}

.login-button {
    background: linear-gradient(150deg, #96306F, #062A66);
}

.border-inputs {
    border: solid #B421B4;
}

.login-inputs .input {
    max-width: 80%;
}

.login-image {
    height: 100vh;
}

h2 {
    background: linear-gradient(130deg, #0070ff , #ff0095 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}

.google-button {
    border: 3px solid #a7a7a7;
}

.google-button img {
    max-width: clamp(30px, 10%, 30px);
}

.alert-parent{
    z-index: 999;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}



@media screen and (max-width:1580px) {
    .login-parent {
        padding-left: 100px !important;
    }
}



@media screen and (max-width:1280px) {
    .login-parent {
        padding-left: 0px !important;
    }

    .login-image h1 {
        font-size: 30px;
    }
}



@media screen and (max-width:998px) {
    .login-image {
        height: auto;
    }
}



@media screen and (max-width:470px) {
    
form{
    width: 100% !important;
}


    .login-image h1 {
        font-size: 25px;
    }

    .login-image {
        height: 100px;
    }
}