body {
    /* background-color: #080811; */
    background-color: #c8d8ff;
}

.ql-size {
    background: #151A2D;
    color: white !important;

}

/* Custom styles for dropdowns and toolbar */
.ql-size .ql-picker-label::before,
.ql-size .ql-picker-item::before,
.ql-header .ql-picker-label::before,
.ql-header .ql-picker-item::before {
    content: attr(data-value) !important;
}

.ql-snow .ql-picker-options {
    background-color: #151A2D !important;
}

.bg-webdark {
    background: #151A2D;
}

#toolbar {
    border: 0px !important;
    /* padding: 8px; */
    /* border-radius: 4px; */
    /* margin-bottom: 10px; */
}

#editor {
    height: 800px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    width: 800px;
}

.ql-toolbar button {
    margin: 0 2px;
}

.container {
    max-width: 1200px !important;
}

/* Custom font families */
.ql-font span[data-label="Arial"]::before {
    font-family: Arial !important ;
}

.ql-font span[data-label="Times New Roman"]::before {
    font-family: "Times New Roman" !important ;
}

.ql-font span[data-label="Courier New"]::before {
    font-family: "Courier New" !important ;
}

.ql-editor img {
    max-width: auto;
    height: auto;
}

.mic {
    position: absolute;
    /* display: none; */
}


.ql-snow .ql-stroke {
    stroke: white !important;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: white;
}

.ql-snow .ql-picker {
    color: white !important;
}

.spinner-parent {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.spinner-icon {
    animation: spin 1s linear infinite;
}

.spinner {
    width: 100px;
    height: 100px;
}

.outline-none{
    outline: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
    display: none;
}