/* #editor{
    width: 800px;
    height: 500px;
    border: 3px solid black;

} 
.ql-size-small {
    font-size: 12px;
}

.ql-size-medium {
    font-size: 16px;
}

.ql-size-large {
    font-size: 24px;
}

.ql-size-huge {
    font-size: 32px;
} */
