* {
    margin: 0;
    padding: 0;
}

/* .text-color {
    color: #DBE2EF;
} */

.transition03{
        transition: all ease .3s !important;
}

.letter-spacing-normal {
    letter-spacing: 20px;
}

.letter-spacing-sm {
    letter-spacing: 1px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}   

.outline-none {
    outline: none;
}

.button-limly{
    background: linear-gradient(130deg, #0070ff , #ff0095 90%);
}

/* .heading-limly{
    background: rgb(1, 95, 95);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
} */

.bg-webdark{
    background: #151A2D;
}

.w-fit{
    width: fit-content;
}

.squeezeX-hover:hover{
    transform: scaleX(0.8);
}

.squeeze-hover-large:hover{
    transform: scaleX(0.95);
}
